<script src="../src/main.js"></script>
<form method="POST" action="">
    Dev note: this button doesn't work right now :(
    <input type="submit" id="happinessBtn" value="Get Happy!">
</form>
<h2>Happiness:</h2>
<h3 id=happyVal>{{result.user}} has happiness {{result.happiness}}</h3>
