<h2>A Satirical Rendition of College Workflow</h2>

<h3>Hi, {{myName}}</h3>

<form method="POST" action="/">
Enter Username: <input name="firstName" type="text">
    <input type="submit">
</form>

{{#if toGame}}
<a href='/game' style="font-size: 2em">Go to Game!</a>
{{/if}}