<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Course Clicker</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Course Clicker</h1>
{{{ body }}}
</body>
</html>