button.prestige {
    font-family: monaco, monospace;
    text-align: center;
    font-size: 1.25em;
    color: white;
    background: green;
    border-radius: 4px;
    border: 3px solid black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); 
    padding: 20px 50px;
    cursor: pointer;
}

button[disabled=disabled], button:disabled {
    opacity: .5;
    background: darkred;
    cursor: not-allowed;
}