body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(235, 235, 235);
}

h1, h2 {
    display: inline-block;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
    font-weight: bolder;
    background: none;
}

p {
    font-size: .75em;
}

div.upgrade {
    border: 3px ridge rgb(200, 200, 200);
    height: 17.5%;
    margin: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;  
    -ms-user-select: none; 
}

div.owned {
    background: rgb(120, 120, 120);
}

div.unpurchasable {
    background: rgb(165, 46, 46);
    border: 3px ridge darkred;
}

div.purchasable {
    background: green;
    border: 3px ridge darkgreen;
}

div.purchasable:hover {
    border: 3px outset darkgreen;
    background: rgb(11, 90, 11);
}

div.purchasable:active {
    border: 3px inset rgb(0, 50, 0);
}